 
 .crminalList {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: flex-start;
 }
 
 .criminals {
    padding-left: 1%;
    border: grey solid 2px;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align: left; 
    vertical-align: top; 
    display: inline-block;
    width: 20em; 
    margin-bottom: 1em; 
    margin-right: 3em;
}
h3 {
    text-align: center;
}